body {
    background-color: darkolivegreen
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    color: honeydew
}

h5 {
    color: honeydew
}

hr {
    color: honeydew
}

.education {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
.experience {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.additional {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}